h2 {
		font-weight: bold;
}

#nav-header {
	background-color: #a0caf0;
	margin-bottom: 0;
}

#navbar-items li:hover{
	  background: #f7f7f7;
}


@media (max-width: 766px) {
 #navbar-items {
 	background-color: #ddd;

 }
}

.row-fluid {
	padding: 0;
}


#main-content p {
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fff172;

}

#main-content span {
	width: 100%;
	display: inline-block;
	font-size: 1.8em;
	font-weight: bold;
}

